.eyecatch-wrapper {
  padding-top: 71px;
}

.eyecatch {
  background-image: url(https://d1te0bovbq6epg.cloudfront.net/common/img/work/bg-eyecatch-01.svg);
  width: 100%;
  min-width: $base-width;
  min-height: 100%;
  text-align: center;
  line-height: 1.5;
  padding: 48px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.eyecatch-inner {
  min-height: 135px;
  color: $white;
  h1 {
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }
  blockquote {
    color: #fff8de;
    font-size: 1.3rem;
    line-height: 2;
  }
  span {
    display: block;
    font-size: 1.0rem;
  }
}
