.apply{
  height: 200px;

  input{
    height: 100%;
    width: 100%;
    rows: "100"
  }

  textarea{
    height: 100%;
    width: 100%;
  }
}

.short_apply{
  input{
    width: 100%;
  }
}

.job-body-text{
  textarea{
    width: 100%;
    height: 500px;
  }
}

.job-header-title{
  textarea{
    width: 100%;

  }
}

.job-detail{
  span{
    font-size: 20px;
    color: $dark_gray;
    line-height: 30px;
  }
}


