.four_contents_wrapper
  .inner
    %ul.nav4_ul
      %li.list_1
        %a.list_1__a
          %image.list1__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-01.svg" }
          %dl.list_1__dl
            %dt.list_1__dt
              はじめての方は
              %br
              こちら
            %dd.list_1__dd HonShoの使い方を確認しよう
      %li.list_2
        %a.list_2__a
          %image.list_2__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-02.svg" }
          %dl.list_2__dl
            %dt.list_2__dt
              企業の方は
              %br
              こちら
            %dd.list_2__dd
              HonShoがご提供できる価値を
              %br
              ご確認ください
      %li.list_3
        %a.list_3__a
          %image.list_3__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-03.svg" }
          %dl.list_3__dl
            %dt.list_3__dt FAQ
            %dd.list_3__dd よくあるご質問はこちら
      %li.list_4
        %a.list_4__a
          %image.list_4__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-04.svg" }
          %dl.list_4__dl__
            %dt.list_4__dt 旅人登録
            %dd.list_4__dd 登録してシゴトに応募しよう
