.aside
  %ul.sub_nav2__list
    %li.left_li
      = link_to articles_recommend_path do
        %span シゴト
        を見る
    %li.right_li
      = link_to showlabo_latest_path do
        %span すごい旅研究所
        を見る
