.right-content
  %img.topbanner{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/top_banner02.png" }
  %h3.right-content-01 新着 すごい旅研究所の記事
  = render partial: "shared/sholabo_list", collection: @popular_sholabos, as: :sholabo
  %h3.right-content-02 注目 すごい旅研究所の記事
  = render partial: "shared/sholabo_list", collection: @popular_sholabos, as: :sholabo
  = link_to "もっと見る", sholabos_latest_path, class: "see-more-btn-right"

  .side-sns
    .sns-title
      %img.sns-title__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/logo.svg" }
      %span.sns-title__p をフォローする
    %ul.side-sns-list
      %li
        %a.side-sns-list__facebook
          %img.side-sns-list__facebook--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-fb.svg" }
          %p.side-sns-list__facebook--p フォローする
        = link_to ("https://twitter.com/?lang=ja"), class: "side-sns-list__twitter" do
          %img.side-sns-list__twitter--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tw-02.svg" }
          %p.side-sns-list__twitter--p フォローする
      %p.side-sns-list__message フォローして新着のシゴト情報をゲット！
