.right-content
  %img.topbanner{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/top_banner02.png" }
  %h3.right-content-01 新着 すごい旅研究所の記事
  .right-column-01
    %img.right-column-01__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-object.svg" }
    %h3.right-column-01__title Honshoの旅をつくる “4つのバリュー” を紹介します
    %p.right-column-01__p 2019-1-11 | 3333333 view
    %p.thum-column-label NEW
  .right-column-01
    %img.right-column-01__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg" }
    %h3.right-column-01__title HonShoの漫画をつくる “3つのすべきこと” を紹介します
    %p.right-column-01__p 2020-4-01 | 4444444 view
    %p.thum-column-label NEW
  .right-column-01
    %img.right-column-01__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg" }
    %h3.right-column-01__title HonShoのカレーをつくる “3つの隠し味” を紹介します
    %p.right-column-01__p 2018-9-30 | 1 view
    %p.thum-column-label NEW
  %h3.right-content-02 注目 すごい旅研究所の記事
  .right-column-01
    %img.right-column-01__image{ src: "/assets/54b7e1f981b7df7c817af48d1b96ad5e-a882e240d8fea848711ba4a5a76172dc0aa71883b2f7df256040d1f89f68d9d2.jpg" }
    %h3.right-column-01__title ただの旅日記になってない？　持ち味を活かせっ！
    %p.right-column-01__p 2010-4-01 | 4444444 view
    %p.thum-column-label NEW
  .right-column-01
    %img.right-column-01__image{ src: "/assets/54b7e1f981b7df7c817af48d1b96ad5e-a882e240d8fea848711ba4a5a76172dc0aa71883b2f7df256040d1f89f68d9d2.jpg" }
    %h3.right-column-01__title 覚悟はできているか？　俺はできている
    %p.right-column-01__p 203-4-01 | 99999999view
    %p.thum-column-label NEW
  .right-column-01
    %img.right-column-01__image{ src: "/assets/54b7e1f981b7df7c817af48d1b96ad5e-a882e240d8fea848711ba4a5a76172dc0aa71883b2f7df256040d1f89f68d9d2.jpg" }
    %h3.right-column-01__title それでも町は廻っている
    %p.right-column-01__p 200-4-01 | １０００万 view
    %p.thum-column-label NEW
  %a.see-more-btn-right もっと見る
  .side-sns
    .sns-title
      %img.sns-title__image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/logo.svg" }
      %span.sns-title__p をフォローする
    %ul.side-sns-list
      %li
        %a.side-sns-list__facebook
          %img.side-sns-list__facebook--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-fb.svg" }
          %p.side-sns-list__facebook--p フォローする
        %a.side-sns-list__twitter
          %img.side-sns-list__twitter--image{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tw-02.svg" }
          %p.side-sns-list__twitter--p フォローする
      %p.side-sns-list__message フォローして新着のシゴト情報をゲット！
