.four_contents_wrapper {
  width: 100%;
  height: 400px;
  padding: 105px 0;
  background-color: $bright_gray;
  clear: both;
}

.inner {
  width: $base-width;
  height: 100%;
  margin: 0 auto;
}

.nav4_ul {
  display: block;
  height: 100%;
}

.list_1 {
  display: block;
  width: 262px;
  height: 100%;
  float: left;
  margin-right: 14px;
  background-color: #5BC479;
  &__a {
    min-height: 400px;
    padding: 65px 20px 15px 20px;
    display: block;
    box-sizing: border-box;
    text-align: center;
  }
  &__dt {
    color: white;
    font-size: 25px;
    margin:40px 0 20px;
  }

  &__dd {
  color: white;
  font-size: 13px;
  }
}

.list_2 {
  display: block;
  width: 262px;
  height: 100%;
  float: left;
  margin-right: 14px;
  background-color: $yellow;
  &__a {
  min-height: 400px;
  padding: 65px 20px 15px 20px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  }
  &__dt {
  color: white;
  font-size: 25px;
  margin:40px 0 20px;
  }
  &__dd {
  color: white;
  font-size: 13px;
  }
}

.list_3 {
  display: block;
  width: 262px;
  height: 100%;
  float: left;
  margin-right: 14px;
  background-color: #ff726c;
  &__a {
  min-height: 400px;
  padding: 65px 20px 15px 20px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  }
  &__dt {
  color: white;
  font-size: 25px;
  margin:40px 0 20px;
  height: 76px;
  }
  &__dd {
  color: white;
  font-size: 13px;
  }
}

.list_4 {
  display: block;
  width: 262px;
  height: 100%;
  float: left;
  background-color: #3a94ff;
  &__a {
  min-height: 400px;
  padding: 65px 20px 15px 20px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  }
  &__dt {
  color: white;
  font-size: 25px;
  margin:40px 0 20px;
  height: 76px;
  }
  &__dd {
  color: white;
  font-size: 13px;
  }
}

.image {
  width: 100px;
  height: 100px;
}

.nav4_ul li:hover{
  opacity: 0.7;
}
