.next-arrow{
  width: 70px;
  height: 560px;
  top: 0px;
  float: left;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.prev-arrow {
  top: 0px;
  width: 70px;
  height: 560px;
  float: right;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
}
