@import './reset';
@import 'config/colors';
@import 'config/variable';
@import 'mixin/clearfix';
@import 'font-awesome';
@import 'modules/header';
@import 'modules/main-content';
@import 'modules/nav4';
@import 'modules/nav2';
@import 'modules/footer';
@import 'modules/faq';
@import "modules/article/right-job";
@import "modules/article/right-tag";
@import "modules/article/eyecatch";
@import "modules/article/new";
@import "modules/article/sub-content-select";
@import "modules/article/show-main";
@import "modules/article/pagination";
@import './contract';
@import "modules/sho_labo/eyecatch";
@import "modules/sho_labo/right-sho_labo";
@import "modules/sho_labo/left-sho_labo";
@import 'user/devise';
@import 'user/user_menu';
@import 'user/user_account';
@import 'modules/beginner/eyecatch';
@import 'modules/beginner/main-content';
@import 'modules/beginner/inner';
@import 'modules/beginner/btn';
@import 'user/like_list';
@import 'user/profile';
@import 'user/profile_side';
@import "slick";
@import "slick-theme";
@import "modules/slider";
@import "facebook";
@import "business";
@import "modules/article/new";
