.business-main-content{
  min-width: 1200px;
  background-color: white;
}
.business-eyecatch{
  background-image: url("gahag-0027109997-1.jpg");
  width: 100%;
  min-width: 1200px;
  min-height: 100%;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    .inner{
      h1{font-size: 1.6rem;}
      .pc{
        margin: 0 0 25px 0;
        padding-left: 2px;
        letter-spacing: 2px;
        color: #fff;
        }
        .eyecatch-lead{
          font-size: 2.4rem;
          line-height: 1.5;
          margin-bottom: 55px;
          padding-left: 4px;
          letter-spacing: 4px;
        }
        .line{
          font-size: 1.2rem;
        }
       }
      }
.business-header{
  background-color: #3a94ff;
  font-size: 1.2rem;
  line-height: 2.5rem;
  display: inline-block;
  margin-bottom: 15px;
  padding: 20px 47px 20px 50px;
  transition: background-color 0.2s;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  border-radius: 100px;
  margin: 0 auto;
}



.nightley_apply{
  position: relative;
  height: 380px;
  img{
    position:absolute;
  }
  .text{
    position:absolute;
    right: 10%;
    h2{
      font-size: 1.9rem;
      display: inline-block;
      text-align: left;
      margin: 0px 0px 20px 40px;
      letter-spacing: 3px;
  }
  p{
    margin-left: 60px;
    margin-bottom: 15px;
    color: $light_black;
    right: 25%;
    display: inline;
    text-align: left;
  }
  textarea{
    left: 70px;
    position: absolute;
    margin-top: 10px;
    border: solid 1px $dark_gray;
    border-radius: 100px;
    width: 340px;
    display: inline-block;
    padding-top: 5px;
    rows: 1;
    padding: 12px 10px;
    resize: none;
  }
  .business-mail{
    left: 70px;
    bottom: -120px;
    position:absolute;
    border: solid 1px $dark_gray;
    border-radius: 100px;
    width: 340px;
    display: inline-block;
    padding-top: 5px;
    rows: 1;
    padding: 12px 10px;
  }
  .submit {
    left: 120px;
    bottom: -200px;
    position:absolute;
    font-size: 13px;
    color: white;
    letter-spacing: 3px;
    width: 250px;
    padding: 16px;
    background-color: $yellow;
    border-radius: 27px;
    border: 1px solid $yellow;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
  }
}
}


.introduction-example{
  padding-left: 10%;
  padding-right: 10%;
  height: 300px;
  h2{
    letter-spacing: 3px;
    font-size: 1.7rem;
    margin: 0 auto;
    text-align:center;
  }
  li{
    margin-top: 20px;
    float: left;
    width: 17.5%;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 2%;
  }
}

.business-article{
  height: 1400px;
  border-top: #fff;
  background-color: $snow_gray;
  h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 45px;
  }
  ul{
    li:nth-child(odd) { margin-right: 32px; }
    li:last-child { margin-bottom: 80px; }
    li{
      box-shadow:4px 4px $light_gray;
      border: none;
      background-color: white;
      float: left;
      width: 445px;
      height: 230px;
      padding: 50px 45px 40px 35px;
      margin-bottom: 45px;
      img{
          width: 135px;
          margin-right: 30px;
        }
      .right-article{
        width: 280px;
        float: right;
        h3{
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 11px;
          letter-spacing: 2.5px;
          line-height: 33px;
        }
        p{
          font-size: 15px;
          letter-spacing: 1.5px;
          margin-bottom: 30px;
          line-height: 27px;
        }
        a{
          padding: 16px 59px;
          bottom: 40px;
          letter-spacing: 1px;
          border-radius: 100px;
          color: white;
        }
        .yellow-button{
          background-color: $yellow;
        }
        .blue-button{
          background-color: $blue;
        }
      }
    }
  }
}


.business-bottom{
  clear: both;
  padding: 50px 50px 10% 10%;
  background-color: white;
  .inner {
    position: relative;
  }
  h2{

    letter-spacing: 4px;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    }
}
.bottom-button{
  margin-top: 50px;
  text-align:center;
  margin-left:32%;
  margin-bottom: 70px;
}
